<!DOCTYPE html>
<html>
<meta content="width=device-width, initial-scale=1" name="viewport" />

<head>
   {% block head %}
   <!--fontAwsome setup-->
   <script src="https://kit.fontawesome.com/986ad651a5.js" crossorigin="anonymous"></script>
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   {% endblock %}
</head>

<body>
   <!-- sidenav -->
   <aside id="side-nav" class="side-nav">
      <!-- user info -->
      <div class="user">
         <img src="./user-pic.png" alt="user picture" />
         <div>
            <p class="name">Anna Doe</p>
            <p class="secondary-text">Fitness lover</p>
         </div>
      </div>
      <!-- navigation -->
      <ul class="nav-list">
         <li id="profile">
            <a href="{{ url_for('user_profile') }}">
               <span class="iconify" data-inline="false" data-icon="carbon:user-avatar"
                  style="color: #4b62c1; font-size: 23px"></span>
               Profile
            </a>
         </li>
         <li id="dashboard">
            <a href="{{ url_for('dashboard') }}">
               <span class="iconify" data-inline="false" data-icon="carbon:dashboard"
                  style="color: #4b62c1; font-size: 23px"></span>
               Dashboard
         </li>
         </a>
         </li>

         {% block nav_list %}{% endblock %}
         <li>
            <a href="{{ url_for('logout') }}">
               <span class="iconify" data-inline="false" data-icon="clarity:logout-line"
                  style="color: #4b62c1; font-size: 23px"></span>
               logout
            </a>
         </li>
      </ul>
   </aside>
   <div class="container-max">
      <!-- header -->
      <header>
         <div class="container">
            <a href="{{url_for('index')}}" class="logo"><span>Kun</span>Fit</a>
            <!-- displayed on small screen -->
            <input class="open-menu" type="checkbox" id="menu-bar" />
            <label for="menu-bar" class="fas fa-bars"></label>
            <!-- displayed on large screen -->
      </header>
      <!-- main -->
      <main id="user-dashboard">
         <!-- user -->
         <section class="user">
            <div class="container">
               <img src="{{ url_for('static', filename='images/user-image.png')}}" alt="user picture" />
               <p class="name">Anna Doe</p>
               <p class="secondary-text">Fitness lover</p>
               <!-- navigation: displayed on large screen -->
               <ul class="nav-list" id="nav-list">
                  <li id="user-profile">
                     <a href="{{ url_for('user_profile') }}">
                        <span class="iconify" data-inline="false" data-icon="carbon:user-avatar"
                           style="color: #4b62c1; font-size: 23px"></span>
                        Profile
                     </a>
                  </li>
                  <li id="dashboard-user">
                     <a href="{{ url_for('dashboard') }}">
                        <span class="iconify" data-inline="false" data-icon="carbon:dashboard"
                           style="color: #4b62c1; font-size: 23px"></span>
                        Dashboard
                     </a>
                  </li>

                  {% block nav_list_user %}

                  {% endblock %}

                  <li>
                     <a href="{{ url_for('logout') }}">
                        <span class="iconify" data-inline="false" data-icon="clarity:logout-line"
                           style="color: #4b62c1; font-size: 23px"></span>
                        logout
                     </a>
                  </li>
               </ul>
            </div>
         </section>
         {% block content %}

         {% endblock %}
      </main>
   </div>


   <!-- iconify -->
   <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
   <!--fontAwsome setup-->
   <script src="https://kit.fontawesome.com/986ad651a5.js" crossorigin="anonymous"></script>
   <!-- jQuery -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <!-- javascript -->

   {% block script %}
   {% endblock %}

   <script>
      //change nav-bar on click
      let menubar = document.getElementById("menu-bar")
      let navlist = document.getElementById("nav-list")

      //initilize nav-list
      navlist.style.transform = "scaleY(1)"
      navlist.style.opacity = 1

      menubar.addEventListener("change", updateBackground);
      updateBackground();

      function updateBackground() {
         console.log(menubar.checked)
         if (!menubar.checked) {
            navlist.style.transform = "scaleY(1)"
            navlist.style.opacity = 1
         } else {
            navlist.style.transform = "scaleY(0)"
            navlist.style.opacity = 0

         }
      }
   </script>
</body>

</html>