<!DOCTYPE html>
<html dir="rtl" lang="ar">
<meta content="width=device-width, initial-scale=1" name="viewport" />

<head>
   <title>Kun Fit</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
   <!--            header section start             -->
   <header>
      <a href="#" class="logo"><span>Kun</span>Fit</a>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar" class="fas fa-bars"></label>
      <nav class="navbar">
         <a href="#home" onclick="checkVisibility(4)">الرئيسة</a>
         <a href="#signup" onclick="checkVisibility(2)">التسجيل</a>
         <a href="#signin" onclick="checkVisibility(1)">تسجيل الدخول</a>
         <a href="{{url_for('signup')}}">كن مدرب</a>
         <!-- <a href="#contact">contact</a> -->
      </nav>
      <!--            header section ends             -->
   </header>
   <!--            HeroSection section start             -->
   <section class='heroSection' style="background:url(../static/images/home-bg-img-flop.png) no-repeat; background-size: cover;
   background-position: center; ">
      <div class="content">
         <!--<h3><span>OMO</span></h3>-->
         <h3>تعرف على مدربك الشخصي الجديد</h3>
         <p>بمساعدة مدربك الشخصي يمكنك تحقيق اهدافك الصحية و المحافظة عليها
         </p>
         <a class="btn" href="#trainers" onclick="checkVisibility(3)">اختر مدربك الشخصي </a>
      </div>
      <img src="{{url_for('static', filename='images/tablet-pic.png')}}" alt="" />

   </section>
   <!--            HeroSection section ends           -->
   <!--            Qoute section start                -->
   <section class="qoute-section">
      <div class="qoute">
         <h2>
            I don't believe you have to be better than everybody else.
            I believe you have to be better than you ever thought you could be.
         </h2>
      </div>
   </section>
   <!--            Qoute section ends                 -->
   <!--            Featuers section start             -->
   <section>
      <div class="about" id="about">
         <div class="column">
            <div class="image">
               <img src="{{url_for('static', filename='images/trainers-list-pic.png')}}" alt="" />
            </div>
            <div class="content">
               <h1 class="heading">اختر مدربك الشخصي الخاص بك</h1>
               <p>تصفح قائمة المدربين, واختر المدرب الانسب لك, ليساعدك على تحقيق ما تطمح له بواسطة الخطط المعدة خصيصا لك</p>
               <p>ما ان اخترت مدربك يمكنك طرح الاسئلة والوصول الى الخطط المعدة لك في اي وقت واي زمان
               </p>
            </div>
         </div>
      </div>
      <div class="about" id="about">
         <div class="column   ">
            <div class="image">
               <img src="{{url_for('static', filename='images/messages-pic.png')}}" alt="" />
            </div>
            <div class="content">
               <h1 class="heading">تقييم الاداء والتفاعل المستمر</h1>
               <p>سيحرص مدربك الشخصي على ان تكون خططك الصحية تتماشى مع احتياجاتك وانك لا تواجه اية مشاكل, وسيعمل على تشجعيك.
               </p>
               <p> بواسطة خاصية الرسائل الموجودة في الموقع يمكنك طرح الاسئلة والحصول على الدعم في اي وقت شئت.
               </p>
            </div>
         </div>
      </div>
   </section>

   <div id="signin" class="overlay">
      <a class="close" href="#Home" onclick="checkVisibility(1)">&times;</a>
      <div class="wrapper fadeInDown">
         <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <a href="#signup" onclick="checkVisibility(1)">
               <h2 class="inactive underlineHover">Sign Up </h2>
            </a>

            <!-- Icon -->
            <div class="fadeIn first">
               <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form class="log-form" action="http://127.0.0.1:5000/result" method="POST">
               <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
               <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
               <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
         </div>
      </div>
   </div>
   <div id="signup" class="overlay">
      <a class="close" href="#" onclick="checkVisibility(2)">&times;</a>
      <div class="wrapper fadeInDown">
         <div id="formContent">
            <!-- Tabs Titles -->
            <a href="#signin" onclick="checkVisibility(2)">
               <h2 class="inactive underlineHover"> Sign In </h2>
            </a>
            <h2 class="active">Sign Up </h2>

            <!-- Icon -->
            <div class="fadeIn first">
               <img src="{{ url_for('static', filename = 'images/user-image.png') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form class="log-form" action="http://127.0.0.1:5000/register" method="POST">
               <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
               <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
               <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
               <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

         </div>
      </div>
   </div>
   <div id="trainers" class="overlay">
      <a class="close" href="#" onclick="checkVisibility(3)">&times;</a>
      <!-- Trainers list -->
      <div class="wrapper trainers-list">
         {%for value in trainers.items()%}
         {% if "profile" in (value|list)[1]  %}
         <div class="container1">
            <div class="content trainers-list">
               <div class="plan">
                  <div class="music_img">
                     <img src="{{url_for('static', filename = 'images/user-image.png')}}" alt="music image" />
                  </div>

                  <!--<img src="https://jayitis.github.io/Web-Dev/Frontend-Mentor/Images/icon-music.svg" alt="music icon" />-->
                  <div class="price">
                     <h6>Monthly Plan</h6>
                     <p>FREE</p>
                  </div>
               </div>

               <div class="text_content">
                  <!-- <div class="rating">
                     <i class="material-icons md-48" style="color: yellow;">star</i>
                     <p>4.5</p>  
   
                     <i class="material-icons md-48">groups</i>
                     <p>active trainees <span>4</span></p>
                  </div> -->
                  <h2>{{ (((value|list) [1])["profile"] ["firstName"]) }}
                     {{ (((value|list) [1])["profile"]) ["lastName"]  }}</h2>
                  <p>{{ (((value|list) [1])["profile"]) ["introduction"] }}
                     <!-- <a href="{{url_for('trainer_profile', id = ((value|list) [0]))}}">Learn More </a> -->
                  </p>
                  <h6>Training Style</h6>
                  <p>{{ (((value|list) [1])["profile"]) ["trainingStyle"]  }}</p>

               </div>

            </div>
            <div class="button-wrapper">
               <a href="{{url_for('payment', id = ((value|list) [0]))}}" class="PTP">Chose Trainer</a>
               <a href="{{url_for('messages', id = ((value|list) [0]))}}" class="PTP CO">Send message</a>
            </div>
         </div>
         {% endif %}
         {% endfor %}





      </div>
   </div>
   <!--            Featuers section ends             -->
   <!--            QandA section start             -->
   <section class='features'>

      <h1 class="heading">Frequently Asked Questions</h1>
      <div class="faqs">
         <div class="faq-wrapper">
            <div class="faq">
               <div class="faq_question">ما هو <span class="logo"><span>Kun</span>Fit</span>؟</div>
               <div class="faq_answer">

                  <span class="logo"><span>Kun</span>Fit</span> هي خدمة لتحسين اسلوب حياتك بواسطة المدربين الشخصيين الذين يساعدوك على تحقيق اهدافك

               </div>
            </div>
         </div>
         <div class="faq-wrapper">
            <div class="faq">
               <div class="faq_question">ماهي اسعار <span class="logo"><span>Kun</span>Fit</span>؟</div>
               <div class="faq_answer">حاليا جميع الاشتراكات مجانية</div>
            </div>
         </div>
         <div class="faq-wrapper">
            <div class="faq">
               <div class="faq_question">هل يمكنني الغاء الاشتراك؟</div>
               <div class="faq_answer">نعم حاليا يمكنك الغاء الاشتراك اي وقت شئت</div>
               </div>
            </div>
            <div class="faq-wrapper">
               <div class="faq">
                  <div class="faq_question">هل يمكن اكثر من شخص استخدام الحساب ذاته؟</div>
                  <div class="faq_answer">نعم ممكن, لكن الخطط الصحية ستكون فقط لمعلومات صاحب الحساب الرئيسي.</div>
               </div>
            </div>
            <div class="faq-wrapper">
               <div class="faq">
                  <div class="faq_question">هل يمكن للاطفال الاشتراك؟</div>
                  <div class="faq_answer">
                     <p><span class="logo"><span>Kun</span>Fit</span>فقط للبالغين فوق 18 سنة</p>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </section>
   <!--            Footer section start             -->
   <div class="footer">


      <h1 class="credit"> &copy;2021, <a style="color: white;" href="https://twitter.com/9rwn6">Made by Rawan</a></h1>

   </div>



   <!--fontAwsome setup-->
   <script src="https://kit.fontawesome.com/986ad651a5.js" crossorigin="anonymous"></script>

   <script>
      function checkVisibility(i) {
         const overlay = document.getElementsByClassName("overlay")



         if (i == 4)
            document.documentElement.style.overflowY = "auto"
         else {
            overlayVisibility = window.getComputedStyle(overlay[i - 1], null).getPropertyValue("visibility")
            console.log(overlayVisibility)
            if (overlayVisibility == "hidden")
               document.documentElement.style.overflowY = "hidden";
            else
               document.documentElement.style.overflowY = "auto";


         }

      }

      function onclickBtn(btn) {
         var btnId = btn.id
         switch (btnId) {
            case '1':
         }
      }


      //faq accordion 
      const accordion = document.getElementsByClassName('faq');

      for (i = 0; i < accordion.length; i++) {
         accordion[i].addEventListener('click', function () {
            console.log("here")
            this.classList.toggle('active')
         });
      }
   </script>
</body>

</html>
