{% extends "base.html" %}
{% block title %}Messages{% endblock %}


{% block head %}
  {{ super() }}
  <style>

    .breakpoint-small {
        width: 30%;
        height: 100%;
    
    }
    .breakpoint-big {
        width: 80%;
        height: 100%;
    }


    .chat-container {
    height: 100vh;
    width: 80%;
    display: flex;
    }
    
      
      /*****************scroll******************/
      .scroll {
        height: 100%;
        overflow-y: auto;
      }
      /*========================================
                    contacts section
       =========================================*/
      .contacts {
        height: 90%;
        padding: 1rem 2rem 1rem 1rem;
        box-sizing: border-box;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        background: white;
        box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
        transition: transform 500ms;
      }
    
      .pic {
        width: 4rem;
        height: 4rem;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
    
      .contact {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 5rem;
        height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      .contact .pic {
        position: absolute;
        left: 0;
      }
    
      .contact .name {
        font-weight: 500;
        margin-bottom: 0.125rem;
      }
    
      .contact .message,
      .contact .seen {
        font-size: 0.9rem;
        color: #999;
      }
    
      .contact .badge {
        box-sizing: border-box;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        font-size: 0.9rem;
        padding-top: 0.125rem;
        border-radius: 1rem;
        top: 0;
        left: 2.5rem;
        background: #333;
        color: white;
      }
    
      .contacts h2 {
        margin: 0.5rem 0 1.5rem 5rem;
      }
    
      .contacts .fa-bars {
        position: absolute;
        left: 2.25rem;
        color: #999;
        transition: color 200ms;
      }
    
      .contacts .fa-bars:hover {
        color: #666;
      }
    
      .contacts .contact:last-child {
        margin: 0;
      }
    
    
    
    
      /*==============================================
                      chat section
        =============================================*/

    
      .chat {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        border-radius: 0 5px 0 5px;
        box-sizing: border-box;
        background: white;
        box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.7);
      }
    
      .chat .contact.bar {
        flex-basis: 3.5rem;
        flex-shrink: 0;
        margin: 1rem;
        box-sizing: border-box;
      }
    
      
    
      .chat .messages {
        padding: 1rem;
        background: #f7f7f7;
        overflow-y: auto;
        box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
      }
    
      .chat .messages .time {
        font-size: 0.8rem;
        background: #eee;
        padding: 0.25rem 1rem;
        border-radius: 2rem;
        color: #999;
        width: fit-content;
        margin: 0 auto;
      }
    
      .chat .messages .message {
        box-sizing: border-box;
        padding: 1rem 2rem;
        margin: 1rem;
        font-size: 12px;
        line-height: 1.5rem;
        background: #fff;
        border-radius: 1.125rem 1.125rem 1.125rem 0;
        width: fit-content;
        max-width: 66%;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
      }
    
      .chat .messages .message.parker {
        margin: 1rem 1rem 1rem auto;
        border-radius: 1.125rem 1.125rem 0 1.125rem;
        background: #333;
        color: white;
      }
    
      .chat .messages .message .typing {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0rem;
        box-sizing: border-box;
        background: #ccc;
        border-radius: 50%;
      }
    
      .chat .messages .message .typing.typing-1 {
        animation: typing 3s infinite;
      }
    
      .chat .messages .message .typing.typing-2 {
        animation: typing 3s 250ms infinite;
      }
    
      .chat .messages .message .typing.typing-3 {
        animation: typing 3s 500ms infinite;
      }
    
    
      .chat form{
        width: 100%;
      }
    
      .chat .input {
        box-sizing: border-box;
        flex-basis: 4rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0 1.5rem;
      }
    
      .chat button{
        background-color: transparent;
        border: hidden;
      }
    
      .chat .input i {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: #666;
        cursor: pointer;
        transition: color 200ms;
      }
    
      .chat .input i:hover {
        color: #333;
      }
    
      .chat .input input {
        border: none;
        background-image: none;
        background-color: white;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 1.125rem;
        flex-grow: 2;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
        font-family: Red hat Display, sans-serif;
        font-weight: 400;
        letter-spacing: 0.025em;
        width: 89%;
      }
    
      .chat .input input:placeholder {
        color: #999;
      }
    
      @keyframes typing {
    
        0%,
        75%,
        100% {
          transform: translate(0, 0.25rem) scale(0.9);
          opacity: 0.5;
        }
    
        25% {
          transform: translate(0, -0.25rem) scale(1);
          opacity: 1;
        }
      }
    
      .pic.stark {
        background-image: url('https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png');
      }
    
      .pic.banner {
        background-image: url('https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg');
      }
    
      .pic.thor {
        background-image: url('https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg');
      }
    
      .pic.danvers {
        background-image: url('https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png');
      }
    
      .pic.rogers {
        background-image: url('https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png');
      }
    
    
      @media (max-width: 900px) {
    
        .breakpoint-big,
        .breakpoint-small {
          width: 100%;
        }
    
    
        .breakpoint-big {
          margin-left: -100%;
        }
    
        .breakpoint-small {
          z-index: 999;
        }
    
    
        .contacts:hover {
          transform: translate(0rem, 0%);
        }
      }
    
      .contact {
        cursor: pointer;
      }
    </style>
{% endblock %}

{% block nav_list_user %}
{% if trainerID is none%}
<li>
<a href="{{ url_for('trainers_list') }}"> 
   <span class="iconify" data-inline="false" data-icon="clarity:logout-line" style="color: #4b62c1; font-size: 23px"></span>
   chose trainer
</a>
</li>
{% else %}

<li>
   <a href="{{ url_for('meal_plans') }}"> 
   <span class="iconify" data-inline="false" data-icon="carbon:event-schedule"
      style="color: #4b62c1; font-size: 23px"></span>
   Meal Plans
   </a>
</li>


{% endif%}



{% endblock %}

{% block content %}


     <div class="chat-container">
      <div class="breakpoint-small">
        <div class="contacts" id='contacts'>
          <i class="fas fa-bars fa-2x">
          </i>
          <h2>Contacts</h2>
          <div class="scroll">
            {%for value in contacts.items()%}
            <form class="contactsForm" action="{{url_for('messages',id = ((value|list) [0])) }}" method="POST">
              <div class="contact" onclick="openChat('{{loop.index}}')">
            
                <div class="pic rogers">
                </div>
                <div class="badge">14</div>
                <div class="name" style="margin: 20px;">{{ ((value|list) [1]) ["firstName"]}} {{ ((value|list) [1]) ["lastName"]}}</div>
                <div class="message"></div>
            </div>
            </form> 
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="breakpoint-big">
        <div class="chat">
          <div class="contact bar">
            <div class="pic stark">
            </div>
            <div class="name">Tony Stark</div>
            <div class="seen">Today at 12:56</div>
          </div>
          <div class="scroll">
            <div class="messages" id="chat">
              <div class="time">Today at 11:41</div>
              <!--<div class="message parker">Hey, man! What's up, Mr Stark? 👋</div>
              <div class="message stark">Kid, where'd you come from? </div>-->
              {% if messages != None %}
                {%for value in messages.items()%}
                {% if  ((value)[1])["sender"]  ==  contactId  %}
                 <div class="message parker">{{ ((value)[1])["message"] }}</div>
                {% else %}
                 <div class="message">{{ ((value)[1])["message"] }}</div>
                {% endif %}
                {% endfor %}
                
                {% else %}
                <div class="message">send your first message</div>

              {% endif %}
              
              <!-- <div class="message stark">
                <div class="typing typing-1">
                </div>
                <div class="typing typing-2">
                </div>
                <div class="typing typing-3">
                </div>
              </div> -->
            </div>
          </div>
          <div class="input">
            
              <input id="input-message" placeholder="Type your message here!" type="text" />
               <button type="submit" onclick="sendMessage('{{contactId}}')"><i class="far fa-paper-plane"></i></button>
          
          </div>
        </div>
      </div>
    </div>
      {% endblock %}
   {% block script %}


  <!--fontAwsome setup-->
  <script src="https://kit.fontawesome.com/986ad651a5.js" crossorigin="anonymous"></script>

  <!-- iconify -->
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  <script>
    const inputMessageBox = document.getElementById("input-message");
    const contacts = document.getElementsByClassName('contacts')
    formName = document.getElementsByClassName('contactsForm')
 
    const chat = document.getElementById("chat")


    //inputMealBox.value
    function openChat(i) {
      formName[i-1].submit();


    }


   function sendMessage(id){
      const newMessage = document.createElement("div");

      if(inputMessageBox.value.length !== 0){
        newMessage.innerHTML = inputMessageBox.value
        newMessage.className += "message"
        chat.appendChild(newMessage)
        sendData(id)
      }
    }

    function sendData(id){
      
     
      $.ajax({
          url: '/messages/'+id,
          type: 'POST',
          data: {
              messageInfo : inputMessageBox.value
          }
    })
  }
  </script>

{% endblock %}
