{% extends "base-profile.html" %}
{% block title %}Edit Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{{ super() }}

<style>
 

    body {
        background-image: linear-gradient(310deg, rgb(20, 23, 39) 0%, var(--blue) 100%);
    }

    main {
        height: 83vh;
    }

    header .logo {
    font-size: 2rem;
    }
   
   
</style>

{% endblock %}

{% block content %}
<main>

    <div class="wrapper fadeInDown">
        <h1 style="color: #fff; font-size: 2rem;">Start Your Training Journy</h1>
        <div id="formContent">
           <!-- Tabs Titles -->
           <a href="{{url_for('signin')}}">
              <h2 class="inactive underlineHover"> Sign In </h2>
           </a>
           <h2 class="active">Sign Up </h2>

           <!-- Login Form -->
           <form class="log-form" action="{{url_for('register_trainer')}}" method="POST">
              <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
              <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
              <input type="submit" class="fadeIn fourth" value="Sign Up">
           </form>

        </div>
     </div>

</main>
{% endblock %}
