{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-edit.css') }}">
{{ super() }}
{% endblock %}

{% block nav_list_user %}
{% if trainerID is none%}
<li>
  <a href="{{ url_for('trainers_list') }}">
    <span class="iconify" data-inline="false" data-icon="clarity:logout-line"
      style="color: #4b62c1; font-size: 23px"></span>
    chose trainer
  </a>
</li>
{% else %}

<li>
  <a href="{{ url_for('meal_plans') }}">
    <span class="iconify" data-inline="false" data-icon="carbon:event-schedule"
      style="color: #4b62c1; font-size: 23px"></span>
    Meal Plans
  </a>
</li>


{% endif%}



{% endblock %}


{% block content %}
<div class="container">
  <h1>Food Tracker</h1>
  <div class="inner-container">

    <form action="http://127.0.0.1:5000//update-profile" method="POST">

      <div class="small-container">

        <div class="form-group small">

          <label for=FirstName>First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName">

        </div>
        <div class="form-group small">

          <label for=LastName>Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName">

        </div>
      </div>

      <div class="small-container">
        <div class="form-group small">

          <label for=email>Email</label>
          <input type="email" class="form-control" id="email" name="email">

        </div>
        <div class="form-group small">

          <label for=birthday>Birthday</label>
          <input type="date" class="form-control" id="birthday" name="birthday">

        </div>


      </div>


      <div class="small-container">
        <div class="form-group small">
          <div class="checkbox-container">
            <label class="input-checkbox-label" for=wieght>wieght</label>
            <input type="checkbox" id="checkbox-wieght" class="checkbox" name="checkbox-wieght" />
            <label for="checkbox-wieght" class="checkbox-label">
              <p>kg</p>
              <p>lb</p>
              <div class="ball"></div>
            </label>
          </div>

          <input type="number" class="form-control" id="wieght" name="wieght">
        </div>




        <div class="form-group small">
          <div class="checkbox-container">
            <label class="input-checkbox-label" for=hieght>hieght</label>
            <input type="checkbox" id="checkbox-hieght" class="checkbox" name="checkbox-hieght" />
            <label for="checkbox-hieght" class="checkbox-label">
              <p>cm</p>
              <p>ft</p>
              <div class="ball"></div>
            </label>
          </div>
          <input type="number" class="form-control" id="hieght" name="hieght">
        </div>


      </div>

      <div class="form-group">
        <input type="radio" name="gender" id="dot-1">
        <input type="radio" name="gender" id="dot-2">
        <input type="radio" name="gender" id="dot-3">
        <label>Gender</label>
        <div class="category">
          <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
          </label>
        </div>
      </div>
      <div class="button-wrapper">



        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        <button type="button" class="btn btn-default btn-block">Cancel</button>


      </div>

    </form>

  </div>
  </div>
  {% endblock %}