{% extends "base-profile.html" %}
{% block title %}Edit Profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{{ super() }}

<style>
    :root {
        --purple: #814096;
        --blue: rgb(37, 150, 190);
        --gradient: linear-gradient(90deg, var(--purple), var(--blue));
    }

    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
    }

    *::selection {
        background: var(--blue);
        color: #fff;
    }

    html {
        overflow-x: hidden;
    }

    body {
        background-image: linear-gradient(310deg, rgb(20, 23, 39) 0%, var(--blue) 100%);
    }

    .container {
        margin: 7rem auto;
    }

    /* =====================================
                NavBar 
  ======================================*/

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        padding: 1.25rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    header .logo {
        font-size: 1.25rem;
        color: var(--purple);
    }

    header .logo span {
        color: var(--blue);
    }

    header .navbar a {
        font-size: 1rem;
        margin-left: 1.7rem;
        color: var(--purple);
    }

    header .navbar a:hover {
        color: var(--blue);
    }

    header input {
        display: none;
    }

    header label {
        font-size: 2.5rem;
        color: var(--purple);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }



    /*=================================*/
    main {
        height: 83vh;
    }

   
</style>

{% endblock %}

{% block content %}
<main>

    <div class="wrapper fadeInDown">
        <div id="formContent">
           <!-- Tabs Titles -->
           <a href="{{url_for('signin')}}">
              <h2 class="inactive underlineHover"> Sign In </h2>
           </a>
           <h2 class="active">Sign Up </h2>

           <!-- Icon -->
           <div class="fadeIn first">
              <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
           </div>

           <!-- Login Form -->
           <form class="log-form" action="{{url_for('register_trainer')}}" method="POST">
              <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
              <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
              <input type="submit" class="fadeIn fourth" value="Sign Up">
           </form>

        </div>
     </div>

</main>
{% endblock %}
